ion-content {
  background-color: rgb(88, 177, 212);
}

h1{
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  
}

p {
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
}

