<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Markdown Calculator</h1>
  <p>
    Markdown is a reduction of the product price, basing on the inability to sell it at the
initial price or original selling price. In other words, markdown is the difference between
the original retail price and the actual selling price. 
  </p>

  
  <br />

  <ion-item>
    <ion-label> Original Selling Price: ₱</ion-label>
    <ion-input type="number" [(ngModel)]= "original"></ion-input>
  </ion-item>
<ion-item>
  <ion-label> Actual Selling Price: ₱ </ion-label>
  <ion-input type="number" [(ngModel)]="actual"></ion-input>
</ion-item>

<button ion-button color="secondary" (click)= "calculateBMI()">
  Calculate
</button>

<ion-item *ngIf="markdown">
  <h2> Markdown: ₱ {{markdown}} <code>  </code></h2>
</ion-item>

<ion-item *ngIf="rate">
  <h2> Rate: {{rate}} %<code>  </code></h2>
</ion-item>